.modal-group-setup.modal.hide.fade
	div.modal-header
		h3 Create A New Group
	div.modal-body
		h4 Select Bulbs
		form(method='post', action='/bind-group')
			input(name='group_name', type='input', placeholder='Enter Group Name')
