
.modal-bulb-network.modal.hide.fade
    div.modal-header
        h3
    div.modal-body
        h4
        div#searching(style="padding:10px; display:none")
            p(style='float:left') Waiting for Wifi Connection - 
            div.progress.progress-striped.active
                div.bar(style='width: 100%')
        form( method="post")#set-network-form.well.form-horizontal
            div.control-group
                label.control-label(for="network") Network Name
                div.controls
                    input(type="text", name="network", id='network').span5.required
            div.control-group
                label.control-label(for="password") Network Password
                div.controls
                    input(type="text", name="password", id='password').span5.required Password
            div.control-group
                label.control-label(for="security") Security Type
                div.controls
                    div.btn-group(datatoggle="buttons-radio")
                      label(style="display:inline; margin:5px;") WPA/WPA2
                        input(type="radio",value="1", name="security") security
                      label(style="display:inline; margin:5px;") WEP-128
                        input(type="radio", value="2", name="security") security
                      label(style="display:inline; margin:5px;") WEP-64
                        input(type="radio", value="4", name="security") security
                      label(style="display:inline; margin:5px;") Open
                        input(type="radio", value="3", name="security") security
                    
            div.alert.alert-error.hide
    div.modal-footer
        div.form-actions
             div.controls
                  button(type="submit")#submit.btn.btn-primary Submit
                  button(data-dismiss="modal").cancel.btn Cancel
                  button(style="display:none").submit.btn Done