
.modal-bulb-setup.modal.hide.fade
    div.modal-header
        h3
    div.modal-body
        h4
        img#setup-image
        div#searching(style="padding:10px")
            p(style='float:left') Searching for Visualight - 
            div.progress.progress-striped.active
                div.bar(style='width: 100%')
        div#success(style="padding:10px; display:none") Success
    div.modal-footer
        button.cancel.btn Cancel
