// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : {}
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

div.navbar
	div.navbar-inner
		div.container
			div.top-nav
				button#btn-logout.btn.btn-primary.pull-right
					i.icon-lock.icon-white
					| Sign Out
				ul#global-nav.nav.pull-left
					a(href='/home').brand My Account
			div.sub-nav
				//adding button dropdowns
				div#bulb-btns.btn-group.btn
					button.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown')  YOUR BULBS    
						span.caret
					ul.dropdown-menu#bulbs
				button#btn-add.btn.btn-primary ADD VISUALIGHT
				
				div#group-btns.btn-group.btn
					button.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown') YOUR GROUPS
						span.caret
					ul.dropdown-menu#groups
				button#btn-group-add.btn.btn-primary ADD GROUP


#account-form-container
	div.current(style="display:none")
		h1(style="display:inline; vertical-align: middle;")
		button(type="button", style="display:inline; vertical-align: middle;").btn.btn-danger DELETE	


	h1#nobulbs(style="display:none")
		| No Visualights Found
		br
		| Click "Add Visualight" above
	
	div#main(style='margin:20px; display:block')
		form(style="width: 400px;")
			.form-item
				input#color(type="text", value="", style="width:300px", name="color")
				#picker

		div#title(style="display:none")
			form(method="post", action="update-bulb")
				div.input-append
					input(type="text", name="bulb-name").span2
					button(type="button").btn.update Update
			
		span#status
		form#form-inline
			input(id="open", type="button", value="Connect")
			input(id="close", type="button", value="Disconnect")

include modals/alert
include modals/confirm
include modals/setupbulb
include modals/network
include modals/addgroup

script(type='text/javascript', src='/vendor/jquery.min.js')
script(type='text/javascript', src='/vendor/jquery.form.js')
script(type='text/javascript', src='/vendor/farbtastic.js')
script(type='text/javascript', src='/vendor/bootstrap-modal_222.js')
script(type='text/javascript', src='/vendor/bootstrap-transition.js')
script(type='text/javascript', src='/vendor/bootstrap-button.js')
script(type='text/javascript', src='/vendor/bootstrap-modalmanager.js')
script(type='text/javascript', src='/vendor/bootstrap-modal.js')
script(type='text/javascript', src="/vendor/bootstrap-collapse.js")
script(type='text/javascript', src='/vendor/bootstrap-dropdown.js')
script(type='text/javascript', src='/js/views/myvisualight.js')
script(type='text/javascript', src='/js/controllers/visualightController.js')
script(type='text/javascript', src="/socket.io/socket.io.js")